@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {

    --article-width: calc(375px - 25px);

    font-size: 13px;
    font-family: 'Manrope', sans-serif;


    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);

    --width: 375px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    min-height: 100vh;

    display: grid;
    place-content: center;

    background-color: var(--Light-Grayish-Blue);
}


article {
    display: flex;
    flex-direction: column;
    gap: 1em;

    max-width: calc(var(--width) - 2rem);

    border-radius: 3%;
    background-color: white;

    overflow: hidden;
}

.header-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.info {
    line-height: 1.5;
    color: var(--Desaturated-Dark-Blue);
}

.info>h2 {
    font-weight: 800;

    margin: 1rem 0;

    color: var(--Very-Dark-Grayish-Blue);
}


:where(.info > h2,
    .info > p,
    article > footer,
    #social-media-banner) {
    padding: 0 3.5rem;
}


footer {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-column-gap: 0.5rem;
    position: relative;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.footer-img {
    width: 50px;
    border-radius: 100%;
}

.footer-info {
    place-self: center start;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    color: var(--Desaturated-Dark-Blue);
}

.footer-info>p:first-child {
    color: var(--Very-Dark-Grayish-Blue);
}

#social-media-banner {
    position: absolute;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    justify-items: end;

    transition: all 0.5s ease-in;

    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.2rem;

    color: var(--Desaturated-Dark-Blue);
    background-color: var(--Very-Dark-Grayish-Blue);
}

#share-button {
    border-radius: 50%;
    border-color: transparent;

    --dimension: 2.5rem;
    width: var(--dimension);
    height: var(--dimension);

    grid-column: 7;
    place-self: center center;

    z-index: 3;
}

.share-button-inactive {
    background-color: var(--Light-Grayish-Blue);
}

.share-button-activated {
    fill: white;
    background-color: var(--Desaturated-Dark-Blue);
}

#share-button-icon {
    fill: inherit;
}

.social-media-hidden {
    top: 100%;
    height: 0%;
    opacity: 0;
}

.social-media-show {
    top: 0;
    height: 100%;
    opacity: 1;
}


@media screen and (min-width: 600px) {
    article {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-areas:
            "header info"
            "header footer";
        grid-column-gap: 0;
        grid-row-gap: 0;

        max-width: 700px;

        overflow: visible;
    }

    header {
        grid-area: header;
    }

    .header-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .info {
        grid-area: info;
    }

    footer {
        grid-area: footer;
    }

    #social-media-banner {
        grid-template-columns: repeat(4, 1fr);
        width: 60%;
        border-radius: 15px;
        transition: opacity 0.5s ease;
    }

    #social-media-banner::after {
        position: absolute;
        content: "";
        height: 25px;
        width: 25px;
        background-color: var(--Very-Dark-Grayish-Blue);
        transform: rotate(45deg);
        top: 80%;
        left: 46%;
    }

    .social-media-show {
        top: -110%;
        left: 55%
    }

    .social-media-hidden {
        opacity: 0;
        visibility: hidden;
    }

}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}