
:root {

    --article-width: calc(375px - 25px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    place-content: center;
}


article {
    display:flex;
    flex-direction: column;
    place-content: center;

    width: var(--article-width);

}

header > img {
    width: 100%;
    object-fit: cover;
    flex-basis: 1;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}