:root {
    --prim-color-1: hsl(158, 36%, 37%);
    --prim-color-2: hsl(30, 38%, 92%);

    --neutral-color-1: hsl(212, 21%, 14%);
    --neutral-color-2: hsl(228, 12%, 48%);
    --neutral-color-3: hsl(0, 0%, 100%);

    --mobile-width: 375px;

    box-sizing: border-box;
}

body {
    background-color: var(--prim-color-2);
    height: 100vh;
}

*,
::before,
::after {
    box-sizing: inherit;
}

div>h1 {
    font-family: 'Fraunces', serif;
}

p {
    font-size: 14px;
}

picture>img {
    width: calc( var(--mobile-width) - 25px);
}

article {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    overflow: hidden;
    background-color: var(--neutral-color-3);
    margin: 1rem;
}

.description-container {
    margin: 1em;
    padding: 1em;
    text-align: start;
}

.description {
    font-family: 'Montserrat', serif;
    color: var(--neutral-color-2);
    line-height: 1.5;
}

#actual-price {
    color: var(--prim-color-1);
    font-size: 3em;
    font-weight: 700;
}

#old-price {
    color: var(--neutral-color-2);
    font-size: 1em;
    text-align: center;
    padding-left: 1em;
    text-decoration: line-through;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

}

.prices {
    display: flex;
    align-items: center;
}

button {
    color: var(--neutral-color-3);
    background-color: var(--prim-color-1);
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border-color: transparent;
}

.attribution {
    margin-top: 3rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (min-width: 660px) {

    main {
        height: inherit;
    }

    .desktop-container {
        height: inherit;
        display: flex ;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    article{
        height: auto;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .description-container {
        width: 350px;
    }
    
}