:root {
    --prim-color-1: hsl(158, 36%, 37%);
    --prim-color-2: hsl(30, 38%, 92%);

    --neutral-color-1: hsl(212, 21%, 14%);
    --neutral-color-2: hsl(228, 12%, 48%);
    --neutral-color-3: hsl(0, 0%, 100%);

    --mobile-width: 375px;

    box-sizing: border-box;
}

body {
    background-color: var(--prim-color-2);
}

*,
::before,
::after {
    box-sizing: inherit;
}

div>h1 {
    font-family: 'Fraunces', serif;
}

p {
    font-size: 14px;
}

picture>img {
    min-width: var(--mobile-width);
}

article {
    border-radius: 25px;
    min-width: var(--mobile-width);
    overflow: hidden;
    background-color: var(--neutral-color-3);
    margin: auto;
}

.description-container {
    margin: 1em;
    padding: 1em;
    text-align: start;
}

.description {
    font-family: 'Montserrat', serif;
    color: var(--neutral-color-2);
    line-height: 1.5;
}

#actual-price {
    color: var(--prim-color-1);
}

#old-price {
    color: var(--neutral-color-2);
    font-size: 0.5em;
    text-align: center;
    padding-left: 1em;
    text-decoration: line-through;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

}

button {
    color: var(--neutral-color-3);
    background-color: var(--prim-color-1);
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border-color: transparent;
}

@media (min-width: 376px) {
    body {
        height: 100%;
    }

    article {
        display: grid;
        grid-template-columns: 400px 400px;
        width:40%;
        margin: auto;
    }

    picture>img {
        max-width: 400px;
    }

}

.attribution {
    margin-top: 3rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}