@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {

    --width: 375px;

    /* Colors */
    --pc-very-dark-blue: hsl(233, 47%, 7%);
    --pc-dark-desaturated-blue: hsl(244, 38%, 16%);
    --pc-soft-violet: hsl(277, 64%, 61%);

    --nc-white: hsl(0, 0%, 100%);
    --nc-slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --nc-slightly-transparent-gray: hsla(0, 0%, 100%, 0.6);

}


body {
    margin: 0;
    padding: 0;
    font-size: 15px;

    background-color: var(--pc-very-dark-blue);
    font-family: 'Inter', sans-serif;
    color: var(--nc-white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    height: 100vh;
    padding: 5% 10%;
    min-width: var(--width);

}

main {
    background-color: var(--pc-dark-desaturated-blue);
    border-radius: 2%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 350px;
}

.image-container {
    background-color: var(--pc-soft-violet);
    flex-basis: 0.5;
    height: 100%;
}

.image-container>img {
    opacity: 0.5;
    width: 100%;
}

.information-container {
    text-align: center;
    padding: 2em 3em 0em 3em;
}

.information-container>h1 {
    font-weight: 700;
    font-size: 1.7em;
}

.information-container>h1>span {
    color: var(--pc-soft-violet);
}

.information-container>p {
    color: var(--nc-slightly-transparent-gray);
    font-weight: 400;
    line-height: 1.5em;
}

.detail-information-container {
    text-align: center;
}

.detail-information-container section:last-child {
    margin-bottom: 2em;
}

.detail-information-container p {
    color: var(--nc-slightly-transparent-gray);
    font-weight: 400;
    text-transform: uppercase;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media screen and (min-width: 600px) {
    main {
        width: 80%;
        flex-direction: row;
    }

    article {
        flex-basis: 50%;
    }

    .information-container {
        order: 1;
        text-align: initial;
    }

    .information-container>h1 {
        font-size: 2em;
    }

    .image-container {
        order: 2;
        flex-basis: 50%;
    }

    .detail-information-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0 10%;
        gap: 20%;
    }

}