
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --background-icons: #252e37;
    --background-card: #1e252f;
    --width : 350px;
    --border-radius: 25px;
}

@media screen and (min-width: 500px){

    :root{
        --width : 400px;
    }
}

*,
*::before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    
    color: var(--light-grey);


}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--very-dark-blue);
    padding: 1em;
}

h1 {
    color: var(--white);
}

.thank_you_section,
.rating_section {
    max-width: var(--width);
    background-color: var(--background-card);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 3em 1.5em ;
    border-radius: var(--border-radius);
}

.img-container {
    --square-size: 40px;
    background-color: red;
    width: var(--square-size);
    height: var(--square-size);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-icons);
    border-radius: var(--border-radius);
}

.img-container img {
    width: 40%;
}

p {
    line-height: 1.5;
}

.rating_section ul {
    display: flex;
    justify-content: space-around;
}

.rating_section li {
    list-style: none;
    background-color: var(--background-icons);

    width: 3em;
    height: 3em;
    font-size: 1em;
    padding: 1em;
    border-radius: var(--border-radius);
    text-align: center;
}

.rating_section li:hover {
    cursor: pointer;
    background-color: var(--light-grey);
    color: white;
}


button {
    background-color: var(--orange);
    border: 0px;
    border-radius: var(--border-radius);
    height: 3em;
    color: white;
    text-transform: uppercase;
}

.rating-option.rating-clicked {
    background-color: var(--orange);
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: var(--orange);
}

button:disabled {
    background-color: var(--light-grey);
    opacity: 0.5;
}

.thank_you_section {
    align-items: center;
}

.thank_you_section img{
    width: 50%;
}

.thank_you_section p:first-of-type {
    background-color: var(--background-icons);
    border-radius: var(--border-radius);
    color: var(--orange);
    padding: .5em 1em;
}

.thank_you_section strong {
    font-size: 2em;
    color: white;
    font-weight: 900;
}

.thank_you_section p {
    text-align: center;
}

.display-no {
    display: none;
}

.attribution {
    margin: 5rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}