
.tile {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.selected {
    background-color: green;
}

.wrapper {
    display: flex;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

h1 {
    color: blueviolet ;
}
